@page
@model DemoWeb.Pages.Demos.DelayedValidation
@{
    Layout = "Shared/_Layout";
}

<div asp-validation-summary="All">
    <span>Please correct the following errors</span>
</div>

<fieldset>
    <legend>Required Email input with delayed validation.</legend>
    <form method="post">
        <div class="form-field">
            <label asp-for="EmailAddress"></label>
            <input asp-for="EmailAddress" />
            <span asp-validation-for="EmailAddress"></span>
        </div>
        <input type="submit" value="Submit"/>
    </form>
</fieldset>

@section Scripts {
    <script>
        const service = new aspnetValidation.ValidationService(console);
        service.bootstrap({ delayedValidation: true });
    </script>
}